<div class="card-body">
  <h3 class="card-title article-title">
    <% if essay.try(:title).present? %>
    <a href="<%= essay_path essay %>"><span><%= essay.title %></span></a>
    <% end %>
    <small class="text-muted float-right" style="font-size: small"><%= essay_badge_str essay %></small>
  </h3>
  <article class="card-text content"><%= essay.content %></article>
  <div class="article-foot">
    <div class="like-badge" data-controller="vote">
      <%= form_tag "/votes", style: "display-inline", data: {action: 'vote#vote'} do %>
        <%= hidden_field_tag :essay_id, essay.id, data: {target: 'vote.essayId'} %>
        <%= hidden_field_tag :essay_type, essay.class.name, data: {target: 'vote.essayType'} %>
        <span class="badge badge-secondary" title="赞同">
          <a href="#" class="card-link" data-action="vote#vote">Like:&nbsp;<span data-target="vote.score" data-vote-score="<%= essay.weighted_score %>"><%= essay.weighted_score %></span></a>
        </span>
      <% end %>
    </div>
    <span class="badge badge-secondary" title="作者">
      <a href="<%= user_path essay.author %>">作者: &nbsp;<%= essay.author.username %></a>
    </span>
    <span class="badge badge-secondary" title="评论">
      <a href="#" class="card-link" data-toggle="collapse" data-target=<%= "##{essay.class.name.downcase}-#{essay.id}-comments" %> aria-expanded="false" aria-controls=<%= "##{essay.class.name.downcase}-#{essay.id}-comments" %>>评论</a>
    </span>
  </div>
  <br>
  <div class="card collapse comments" id=<%= "#{essay.class.name.downcase}-#{essay.id}-comments" %>>
      <%= render partial: "flow/comments", locals: {comments: comments, essay_id: essay.id, essay_type: essay.class.name} %>
  </div>
</div>
<hr>
