<div class="row">
  <div class="card w-100" style="margin-bottom: .5em;">
    <div class="card-body">
      <a href="<%= posts_path post %>">
        <h5 class="card-title">
          <small class="text-muted float-right">随笔</small>
        </h5>
      </a>
      <p class="card-text"><%= post.content %></p>
      <%= form_tag "/votes", style: "display-inline" do%>
        <%= hidden_field_tag :essay_id, post.id %>
        <%= hidden_field_tag :essay_type, 'Post' %>
        <input type="submit"   value="vote">
        <a href="#" class="card-link">Like:<%= post.weighted_score %></a>
      <% end %>
      <a href="#" class="card-link">Author: <%= post.author.username %></a>
      <a href="#" class="card-link" data-toggle="collapse" data-target=<%= "#post-#{post.id}-comments" %> aria-expanded="false" aria-controls=<%= "#post-#{post.id}-comments" %>>评论</a>
    </div>
    <div class="collapse" id=<%= "post-#{post.id}-comments" %>>
      <%= render partial: "comments", locals: {comments: comments, essay_id: post.id, essay_type: 'Post'} %>
    </div>
  </div>
</div>
