<% if essay.try(:title).present? %>
  <h3><%= essay.title %></h3>
<% end %>
<%= simple_format essay.content %>
<div class="article-foot">
  <div class="like-badge" data-controller="vote">
    <%= form_tag "/votes", style: "display-inline", data: {action: 'vote#vote'} do %>
      <%= hidden_field_tag :essay_id, essay.id, data: {target: 'vote.essayId'} %>
      <%= hidden_field_tag :essay_type, essay.class.name, data: {target: 'vote.essayType'} %>
      <span class="badge badge-secondary" title="赞同">
          <a href="#" class="card-link" data-action="vote#vote">Like:&nbsp;<span data-target="vote.score" data-vote-score="<%= essay.weighted_score %>"><%= essay.weighted_score %></span></a>
        </span>
    <% end %>
  </div>
  <span class="badge badge-secondary" title="作者">
      <a href="<%= user_path essay.author %>">作者: &nbsp;<%= essay.author.username %></a>
    </span>
  <span class="badge badge-secondary" title="发表时间">
      <span><%= date_str essay.created_at %></span>
    </span>
  <span class="badge badge-secondary" title="评论">
      <a href="#" class="card-link" data-toggle="collapse" data-target=<%= "##{essay.class.name.downcase}-#{essay.id}-comments" %> aria-expanded="false" aria-controls=<%= "##{essay.class.name.downcase}-#{essay.id}-comments" %>>评论</a>
    </span>
</div>
<br>
<% if essay.is_a? Article %>
  <% if can_delete_essay? essay %>
    <%= link_to "删除", essay_path(essay), method: :delete, remote: true, data: {confirm: "确定要删除该文章?"} %>
  <% end %>
<% else %>
  <% if can_delete_essay? essay %>
    <%= link_to "删除", essay_path(essay), method: :delete, remote: true, data: {confirm: "确定要删除该随笔?"} %>
  <% end %>
<% end %>
<% if can_update_essay? essay %>
  <a href="<%= edit_essay_path essay %>" %>编辑</a>
<% end %>
<div class="comments">
  <%= render partial: "flow/comments", locals: {comments: comments, essay_id: essay.id, essay_type: essay.class.name} %>
</div>
